html {background:grey;}

li {font-size: large; 
    font-style: italic;}

tr th {font-style: italic;
		background-color: #006666;}

img {padding:3px;
  	border:3px solid black;
  	background-color:aqua;}